<%- include("partials/header2") -%>
<section class="about-me">
    <div class="container" >
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row" >

          <div class="col-md-6 mb-2">
            <p><strong>Name:</strong> Nir Doshi</p>
            <p><strong>Profile:</strong> Student</p>
            <p><strong>Email :</strong> nirdoshi304@gmail.com</p>
            <p><strong>Skills</strong></p>
            <p>Java</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>Python</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>Html</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>CSS</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p>Javascript</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

            <div class="col-md-6 mb-2">
              <h3>About me</h3>
              <hr class="hr-sub-heading">
              <p>I am pursuing computer engineering from marwadi university.
                  I have created this site to release innovative tech and travel blogs
                  you can also see some of my projects below</p>
              <a href="https://drive.google.com/file/d/1IEKvEgufstba_AvOYw66saQJn6qAbZ5N/view?usp=sharing" class="btn btn-primary"> Resume / CV</a>
              <div class="github-link">
              <h3>Checkout My Coding Skills</h3>
              <hr class="hr-sub-heading">
              <a href="https://github.com/nirdoshi" class="btn btn-primary"><i class="fab fa-github"></i> Github </a>
              </div>
            </div>
    </div>
    </div>
  </div>
</section>


<section class="projects">
  <h2 class="text-dark text-center"> Projects </h2>
<hr class="hr-title">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4 mb-4">
        <div class="card text-center shadow-sm">
          <img src="/images/p1.jpg" alt="" class="card-img-top" style="height:15rem;">
          <div class="card-body">
            <h5 class="card-title">E-prescription</h5>
            <p class="card-text"><small class="text-muted">-Android App</small></p>
            <a href="https://play.google.com/store/apps/details?id=com.napps.voiceprescription" class="btn btn-primary text-light">Go To Project</a>
            <a href="https://github.com/nirdoshi/Eprescription" class="btn btn-primary text-light">Go To Github Repo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <div class="card text-center shadow-sm">
          <img src="/images/p2.jpg" alt="" class="card-img-top" style="height:15rem;">
          <div class="card-body">
            <h5 class="card-title">Wallpaper and Ringtone</h5>
            <p class="card-text"><small class="text-muted">-Android App</small></p>
            <a href="https://play.google.com/store/apps/details?id=com.napps.wallpaper" class="btn btn-primary text-light">Go To Project</a>
            <a href="https://github.com/nirdoshi/wallpaper" class="btn btn-primary text-light">Go To Github Repo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <div class="card text-center shadow-sm">
          <img src="/images/p3.jpg" alt="" class="card-img-top" style="height:15rem;">
          <div class="card-body">
            <h5 class="card-title">U.S Covid-19 Data Analysis</h5>
            <p class="card-text"><small class="text-muted">-Data Mining</small></p>
            <a href="https://github.com/nirdoshi/covid-19-united-states-analysis" class="btn btn-primary text-light">Go to Github Repo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <div class="card text-center shadow-sm">
          <img src="/images/p4.jpg" alt="" class="card-img-top" style="height:15rem;">
          <div class="card-body">
            <h5 class="card-title">Covid-19 And Pneumonia Detection</h5>
            <p class="card-text"><small class="text-muted">-Deep Learning</small></p>
            <a href="http://disease-recognizer.herokuapp.com/" class="btn btn-primary text-light">Go to Project</a>
            <a href="https://github.com/nirdoshi/Covid19-and-Pneumonia-Detection" class="btn btn-primary text-light">Go To Github Repo</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>


<%- include("partials/footer") -%>
