<%- include("partials/header") -%>

  <div class="intro">
    <h1 class="name md-4">I am Nir Doshi</h1>

    <div id="carouselExampleSlidesOnly" class="carousel slide nir" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class=skill-items>Android App Developer</h2>
        </div>
        <div class="carousel-item">
          <h2 class=skill-items>M.L/A.I Enthusiast</h2>
        </div>
        <div class="carousel-item">
          <h2 class=skill-items>Web Developer</h2>
        </div>
        <div class="carousel-item">
          <h2 class=skill-items>Tech Lover</h2>
        </div>
        
      </div>
    </div>

  </div>



<%- include("partials/footer") -%>
