<%- include("partials/header2") -%>
<section class="blogs">
<div class="container">
<h3 class="text-dark text-center post-heading"><%= title %></h3>
<hr class="hr-title">
<p class="content-modified" style="margin:0; white-space: pre-wrap;"><%= body %></p>
</div>
</section>
<%- include("partials/footer") -%>
